@import url("https://fonts.googleapis.com/css?family=Montserrat:100,900i");
html, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
  height: 100%;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.m-1 {
  margin: 0.5rem 0; }

.m-2 {
  margin: 1rem 0; }

.m-3 {
  margin: 1.5rem 0; }

.m-4 {
  margin: 2rem 0; }

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.text-color, h1, h2 {
  color: #EA526F;
  font-size: 2rem;
  font-weight: bolder; }

.form__field input:active {
  border: 0.1rem solid #15DEA5;
  background-color: #15DEA5;
  color: #fafafa; }

.form__field input:focus {
  border: 0.1rem solid #15DEA5;
  background-color: #15DEA5;
  color: #fafafa; }

.form__field input:invalid {
  border: 0.1rem solid #fafafa;
  background-color: #e91b1b;
  color: #fafafa; }

.btn {
  cursor: pointer;
  padding: 1.5rem 3rem;
  border-radius: 10rem;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
  color: #FFF;
  background: #15DEA5; }
  .btn:hover {
    text-shadow: 0.5rem 0.5rem #EA526F;
    background-color: #eacd52;
    color: #EA526F;
    font-size: 3rem; }

div p {
  background-color: #15DEA5;
  font-size: 0.5rem; }

h1 {
  font-size: 2rem; }
