@import url('https://fonts.googleapis.com/css?family=Montserrat:100,900i');

@import "./utils/variable";

html, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@for $i from 1 to 5 {
  .m-#{$i}{
    margin:($i *0.5rem) 0 ;
  }
  
}


.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-color{
  color:#EA526F;
  font-size: 2rem;
  font-weight: bolder;
}

@function fct-heading-shadow($color){
  @if ( lightness($color) < 25% ) {
      @return lighten($color, 10%);
  }@else{
      @return darken($color, 10%);
  }
  
}

@mixin hover($color) {
   @if( hue($color) < 180 ){ 
    $color: fade-in($color, .5);
    $color: adjust-hue($color, 30);
   
   }
   @else{
    $color: fade-in($color, .5); 
    $color: adjust-hue($color, 60);
    
   }
   background-color: $color;
 }

@mixin heading-shadow($color: fct-heading-shadow($color-name)){
  text-shadow: 0.5rem 0.5rem $color;

}

@mixin txt-input-palette($state) {
  $palette: map-get($txt-input-palette, $state);
  border: .1rem solid map-get($palette, border);
  background-color: map-get($palette, bg);
  color: map-get($palette, txt);
}

@mixin txt-input-palette($palettes) {
  @each $state, $palette in $palettes{
      &:#{$state}{
        border: .1rem solid map-get($palette, border);
        background-color: map-get($palette, bg);
        color: map-get($palette, txt);
      }
  }
}

.form {
  &__field {
      & input {
        @include txt-input-palette($txt-input-palette);
      }
  }
}


.btn {
  cursor: pointer;
  padding: 1.5rem 3rem;
  border-radius: 10rem;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
  color: $color-accent;
  background: $color-primary;
  
  &:hover{
      @include heading-shadow($color-secondary);
      @include hover($color-secondary);
      color: $color-secondary;
      font-size: 3rem;
    }
}
div{
  p{
    background-color: #15DEA5;
    font-size: map-get($mesValeursMap,petit)
  }
}
h1{
  @extend .text-color;
  font-size: nth($mesValeurs,2);
}

h2{
  @extend .text-color;
}